<div class="header">
  <div class="container">
    <div class="row">
      <div class="menu col-sm-7"> 
        <ul>
          <li><a href="/">Welcome</a></li>
          <li><a href="portfolio">Portfolio</a></li>
          <li><a href="https://medium.com/about-codecademy">Blog</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
        </ul> 
      </div> 
      <div class="name col-sm-5">
        <h1>Intan Puspitasari</h1> 
      </div> 
    </div> 
  </div>
</div>

<div class="main"> 
  <div class="jumbotron"> 
    <div class="message"> 
      <h2>Hello. This is <span class="highlight">Intan Puspitasari</span> </br>and I am a software engineer.</h2> 
      <a class="btn btn-default" href="portfolio">View my Work</a> 
    </div> 
  </div> 
</div>

<div class="footer"> 
  <div class="container"> 
    <ul class="social_media"> 
      <li><a class="github" href="#">github</a></li> 
      <li><a class="linkedin" href="#">linkedin</a></li> 
      <li><a class="twitter" href="#">twitter</a></li> 
    </ul> 
    <p>© 2021 Intan Puspitasari</p> 
  </div> 
</div>